<!-- app/views/lists/index.html.erb -->

<!-- Add the new banner with the provided image URL -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?q=80&w=2976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1><strong>My Lists!</strong></h1>
  </div>
</div>

<div class="container mt-5">
  <h1 class="mb-4">My Lists</h1>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if list.photo.attached? %>
            <%= cl_image_tag(list.photo, class: "card-img-top", alt: list.name) %>
          <% elsif list.movies.present? %>
            <!-- Add the first image of the movie if the list has movies -->
            <%= image_tag(list.movies.first.poster_url, class: "card-img-top", alt: list.name) %>
          <% else %>
            <!-- Add a default image or message if the list has no movies -->
            <%= image_tag("https://images.unsplash.com/photo-1699190375905-3cac33bbdbb1?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", class: "card-img-top", alt: "Default Image") %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <a href="<%= list_path(list) %>" class="btn btn-primary">View List</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="mt-4">
    <%= link_to "Create a list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
