<!-- app/views/lists/show.html.erb -->

<div class="container">
  <h1><%= @list.name %></h1>

  <h2>Add movies</h2>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, as: :check_boxes %>
    <%= f.input :comment, label: "Comment" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

  <h2>Movies in the list</h2>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="<%= movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
