<!-- views/lists/show.html.erb -->

<div class="container">
  <h1><%= @list.name %></h1>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="<%= movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
            <!-- Add any other movie details you want to display -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
