<!-- app/views/lists/show.html.erb -->

<div class="container">
  <h1><%= @list.name %></h1>

  <h2>Movies in the list</h2>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <%= link_to "Delete", list_bookmark_path(@list, bookmark), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBookmarkModal">
    Add a Bookmark
  </button>

  <!-- Include the modal -->
  <%= render 'bookmarks/form_modal' %>
</div>
